/Metodusok/nbproject/private/
/Metodusok/build/
/MetodusokHivasa/nbproject/private/
/OOP/nbproject/private/
/TombDbokocka/nbproject/private/
/TombDbokocka/build/
/Oroklodes/nbproject/private/
/Oroklodes/build/
/KivetelekKezelese/nbproject/private/
/KivetelekKezelese/build/
/assertDolgozatE/nbproject/private/
/assertDolgozatE/build/
/nd/build/
/nd/nbproject/private/
/ndassertDolgozatE/build/
/ndassertDolgozatE/nbproject/private/
/nd/assertDolgozatE/build/
/nd/assertDolgozatE/nbproject/private/
/Voanl2/nbproject/private/
/Voanl2/build/
/GuiIsmetles/nbproject/private/
/GuiIsmetles/build/
